#{extends 'main.html' /}
#{set title:'Task Detail' /}

<link href="@{'/public/stylesheets/taskdetail.css'}" rel="stylesheet">
<script src="@{'/public/javascripts/jquery.countdown.js'}" type="text/javascript"></script>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
	$(function(){
		$('#timer').countdown('${task.endDate}', function(event) {
			var $this = $(this).html(event.strftime('<div><span>%-D</span><span>%H:%M:%S</span></div><div>DAYS LEFT</div>'));
		});
	}); 
	
	function fbShare(){
		FB.ui({
			method: 'share',
			href: '${play.Play.configuration.getProperty("application.baseUrl") + "jobcontroller/viewproduct?jobToken=" + job?.token?.urlEncode()}'
		});
	}
	
	function addJob(id){
		$.ajax({
	        url: "/JobController/addJob",
	        type: "POST",
	        data: {
	        	taskId: id
			},
	        success: function(response, status) {
	        	if(status == "success" && response > 0){
	        		window.location.reload(true);
	        	}else{
	        		showAlertToast("Error: " + response, "alert-danger");
	        	}
	        },
	        error: function(request, status, err){
	           	showAlertToast("Error: " + err, "alert-danger");
	        }
	    });
	}
 </script>

<page size="A4">
	<h3 class="title">${task.title}</h3>
	<div id="task-header" class="row">
		#{if task?.images?.size() > 0}
			<div id="task-img" class="col col-xs-8 col-sm-8 col-md-8" style="background-image: url('@{TaskController.getImage(task?.images?.iterator()?.next()?.id)}');"></div>
		#{/if}
		<ul class="col col-xs-4 col-sm-4 col-md-4">
			<li id="award">
				<div id="circle-outer">
					<div id="circle-inner">
						#{if task.rewards?.iterator()?.next()?.rewardType.getName() == "free"} 
							Free 
						#{/if}
						#{else}
							${(int)task.rewards?.iterator()?.next()?.value * 100}%
						#{/else}
					</div>
				</div>
				
				<div id="share-point">
					#{if task.rewards?.iterator()?.next()?.rewardType.getName() == "discount"}
						 discount by ${task.rewards?.iterator()?.next()?.minShares} shares 
					#{/if}
					#{elseif task.rewards?.iterator()?.next()?.rewardType.getName() == "commission"}
						commission 
					#{/elseif}
					#{if task.rewards?.iterator()?.next()?.rewardType.getName() == "free"} 
						by ${task.rewards?.iterator()?.next()?.minShares} shares 
					#{/if}
				</div>
			</li>
			<li id="timer"></li>
			
			#{if job}
				<li id="share">
					<div class="row">
						<a class="share-btn col col-xs-3 col-sm-3 col-md-3" href='https://twitter.com/intent/tweet?url=${play.Play.configuration.getProperty("application.baseUrl") + "jobcontroller/viewproduct?jobToken=" + job?.token.urlEncode().urlEncode()}&text=${job.task.products.iterator().next().productName.urlEncode()}'>
							<img src="../../public/images/twitter_icon.png">
						</a>
						<a class="share-btn col col-xs-3 col-sm-3 col-md-3" onclick="fbShare();">
							<img src="../../public/images/facebook_icon.png">
						</a>
						<a class="share-btn col col-xs-3 col-sm-3 col-md-3" onclick="fbShare();">
							<img src="../../public/images/wechat_icon.png">
						</a>
						<a class="share-btn col col-xs-3 col-sm-3 col-md-3" onclick="fbShare();">
							<img src="../../public/images/moments_icon.png">
						</a>
					</div>
				</li>
			#{/if}
			#{else}
				<li id="add-job">
					<a class="btn-3 btn-3b glyphicon glyphicon-plus" onclick="#{if user}addJob(${task?.id});#{/if}#{else}showAlertToast('Error: You have to login first.', 'alert-danger');#{/else}">Get this job</a>
				</li>
			#{/else}
		</ul>
	</div>
	#{if job}
		<div id="copy-link">
			<p><span class="glyphicon glyphicon-link"></span>Copy this link and share with your friends</p>
			<input id="share-link" class="form-control" value='${play.Play.configuration.getProperty("application.baseUrl") + "jobcontroller/viewproduct?jobToken=" + job?.token.urlEncode()}'>
		</div>
	#{/if}
	<div class="under-line">
		<h3 class="title">Task Description</h3>
		${task.description.raw()}
	</div>
	<div class="under-line">
		<h3 class="title">Reward Insruction</h3>
		${task.rewards?.iterator()?.next().instruction.raw()}
	</div>
	<div class="under-line">
		<h3 class="title">Product Description</h3>
		${task.products?.iterator()?.next()?.description.raw()}
	</div>
	<div id="task-image" class="under-line">
		#{list items:task?.images, as:'image'}
		   <img class="task-tile" src="@{TaskController.getImage(image.id)}"/>
		   #{if image?.caption?.length() > 0}
		   		${image?.caption.raw()}
		   #{/if}
		#{/list}
	</div>
</page>