page[size="A4"] {
  background: white;
  width: 960px;
  padding: 10px 10px 60px 10px;
  display: block;
  margin: 0 auto;
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

.title{
	margin: 30px 0;
	font-weight: 600;
	text-align: center;
	padding: 10px 0;
}

.row {
	margin: 0 !important;
}

.under-line{
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
}

.img-list{
	margin-top: 30px;
}

ul {
	list-style-type: none;
	text-align: center;
}

ul li{
	font-size: 24px;
	position: relative;
}

#task-img{
	min-height: 360px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}

li#price{	
	margin-left: 15px;
	text-align: left;
}

li#share{
	width: 100%;
	margin: 17px 0;
    vertical-align: middle;
}

.share-btn{
	margin: 0 10px;
}

.share-btn > img{
	width: 42px;
	height: 42px;
}

.through{
	color:#8E8E93;
	font-size: 0.9em;
}

.off{
	font-size: 1.2em;
	color: #ff4444;
	font-weight: 600;
}

.bubble{
	font-size: 0.6em;
	margin-left: 5px;
	color: white;
	padding: 5px 3px;
	background-color: #ff4444;
	border-radius: 20px;
	font-weight: 600;
}

.origin{
	display: inline-block;
	border-radius: 64px;
	color: white;
	padding: 10px 16px;
	text-align: center;
	font-weight: 600;
	font-size: 1.3em;
	background-color: #ff4444;
}

.task-tile{
	width:100%;
	height:auto;
	margin: 15px 0;
}

#timer{	
	width: 100%;
	line-height: 100px;
}

#timer > div, #timer span{
	display: inline-block;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
	background: -webkit-linear-gradient(#EF4DB6, #5AC8FB);	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#timer div:nth-child(1) span:nth-child(1){
	font-size: 42px;
	font-weight: 100;
	height: 48px;
	line-height: 48px;
	display: block;
}

#timer div:nth-child(1) span:nth-child(2){
	font-size: 14px;
	font-weight: 100;
	height: 16px;
	line-height: 16px;
	display: block;
}

#timer div:nth-child(2){
	margin-left: 12px;
	font-size: 36px;
	font-weight: 100;
}

.note{
	color: #FF4444;
}

.note > span{
	font-size: 16px;
}

@media all and (max-width: 1076px){
    page {
    	width: 100% !important;
    }
    
    #task-img{
    	width: 100% !important;
    }
    
    #qrcode > canvas{
    	width: 100%;
    }
    
    ul{
    	width: 100% !important;
    	padding-top: 30px;
    }
    
    ul li#qrcode{
    	display: inline-block !important;
    }
    
    ul li#price{
    	display: inline-block !important;
    }
    
    ul li#award{
    	width: 90%;
    }
    
}











