/* Start side bar */
#side-nav{
	width: 15%;
	float: left;
	font-size: 18px;
}
#side-nav a{
	color: #8E8E93;
}

#side-nav li.active a{
	color: #1F1F21;
	background-color: white;
	border-left: 8px solid #5AC8FB;
}

#side-nav li.active:after {
	position: absolute;
	top: 0;
	right: 0px;
	display: inline-block;
	border-left: 0;
	border-right: 21px solid white;
	border-top: 21px solid transparent;
	border-bottom: 21px solid transparent;
	content: '';
}

#side-nav li.active a:after{
	position: absolute;
	top: -5px;
	right: 0px;
	display: inline-block;
	border-left: 0;
	border-right: 26px solid #F1F1F1;
	border-top: 26px solid transparent;
	border-bottom: 26px solid transparent;
	content: '';
}

/* Start side bar */

#reset-pwd-form{
	width: 85%;
	min-height: 600px;
	padding: 0 20px 20px 20px;
	float: right;
	display: inline-block;
	background-color: white;
}

#reset-pwd-form h3{
	margin: 10px 0 30px 0;
}

.form-group{
	margin: 15px 0;
}

.form-label{
	width:15%;
	height: 100%;
	display: inline-block;
	vertical-align:top;	
}

.form-label label{
	height: 100%;
}

.form-input{
	width:214px;
	display: inline-block;
}





































