
/** Start date input **/

#srt-date, #end-date, #share-time, #exp-date, #coup-exp-date,
#reward-val-gp > .form-input, #addr-unit, #addr-post, #coup-val-wrap,
#p-price, #reward-title-input{
	width: 214px;
}

#t-startdate, #t-enddate, #t-share-time{
	width: 100%;
}

/** End date input **/


/** Start Award **/

.reward-tag, .product-tag{
	display: none;	
}

#a-ty-gp, #t-tag-gp{
	width: 100%;
	display: inline-block;
}

#a-ty-gp label.tag, #t-tag-gp label.tag{
	min-width: 112px;
	line-height: 36px;
	display: inline-block;
	margin:0 2px;
	text-align: center;
	border: 2px solid #F1F1F1;
	background-color: #F1F1F1;
}

#a-ty-gp a, #t-tag-gp a{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

#a-ty-gp label.selected, #t-tag-gp label.selected{
	color: #608908;
	border: 2px solid #a5c85b;
}

.icon-check{
	width: 16px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	visibility: hidden;
	background: url(../images/elements.png) no-repeat;
}

#a-ty-gp label.selected .icon-check, #t-tag-gp label.selected .icon-check{
	visibility: visible;
	background-position: -112px -72px;
}

#reward\.rewardType-error, #tagId-error{
	width: 100%;
}

#addr-unit{
	margin: 15px 0;
}

/** End Award **/

/* image upload */

.image-wrap{
	display: inline-block;
	width: 100%;
}

.file-item{
	max-width: 200px;
	height: 150px;
	padding:0;
	margin: 0 15px 15px 0;
	background-size: cover;
	background-repeat: no-repeat;
}

#uploader{
	width: 150px;
	height: 150px;
	padding:0;
	background-color: #f1f1f1;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-ico, .add-ico > img{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 150px;
	font-size: 32px;
}

.del-link{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
	text-align: center;
	right: 5px;
	top: 5px;
}

.del-link > i{
	top: 4px !important;
	right: 1px !important;
}

.del-link{
	color: #FF4444;
}

.image-note{
	font-size: 12px;
	color: #FF4444;
}
/* image upload */


/* Reward Image */

#reward-img-sec div.add-ico, #product-img-sec div.add-ico{
	background-color: #f1f1f1;
  	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input.file-input{
	opacity: 0;
	margin: 0;
    width: 100%;
}

input#reward-img:focus{
	outline: none;
}

.plus-ico{
	color: #5AC8FB;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* Rewarad Image */

#save-task-btn{
	float: right;
}


















