#{extends 'main.html' /}
#{set title:'Reset password' /}

<link rel="stylesheet" href="@{'/public/stylesheets/resetpassword.css'}">

<div id="tool-bar"></div>

<div id="side-nav">
    <ul class="nav">
      <li id="contact" class=""><a href="@{ProfileController.profile()}">Edit Contact</a></li>
      <li id="reset-pwd" class="active"><a href="#">Reset Password</a></li>
      <li id="company" class=""><a href="@{ProfileController.company()}">Company Info</a></li>
    </ul>
</div>

<form id="reset-pwd-form" method="POST" action="/ProfileController/changePassword">
	<h3>Edit Password</h3>
	<div class="form-group">
		<div class="form-label">
			<label for="cur-pwd">Current password:</label>
		</div>
		<div id="cur-pwd-wrap" class="form-input">
			<input type="password" class="form-control" name="currentPassword" id="cur-pwd" placeholder="Current password">
		</div>
	</div>
	
	<div class="form-group">
		<div class="form-label">
			<label for="new-pwd">New password:</label>
		</div>
		<div id="new-pwd-wrap" class="form-input">
			<input type="password" id="new-pwd" class="form-control" name="newPassword" placeholder="New password">
		</div>
	</div>
	
	<div class="form-group">
		<div class="form-label">
			<label for="re-new-pwd">Re-enter new password:</label>
		</div>
		<div id="re-new-pwd-wrap" class="form-input">
			<input id="re-new-pwd" type="password" class="form-control" name="reNewPassword" placeholder="Re-enter new password">
		</div>
	</div>
	
	<input id="save-password-btn" class="btn btn-success" type="submit" value="Save">
</form>

<script type="text/javascript">
	$(function(){
		$("#reset-pwd-form").validate({
	        rules: {
	        	currentPassword:{
	            	minlength: 6,
	                maxlength: 20,
	            	required:true,
	            	remote: {
	                    url: "/ProfileController/isSameAsDBPassword",
	                    type: 'get',
	                    data: {
	                    	currentPassword: function() {
	                            return $("#cur-pwd").val();
	                        }
	                    },
	                }
	            },
	            newPassword:{
	            	minlength: 6,
	                maxlength: 20,
            		required:true
	            },
	            reNewPassword:{
	            	minlength: 6,
	                maxlength: 20,
	            	equalTo: "#new-pwd",
            		required:true
	            }
	        },
	        messages: {
	        	currentPassword:{
               		remote:"Current passowrd is incorrect."
               	}
            },
	        highlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	        },
	        unhighlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
	        }
	    });
    });
 </script>

























