<div class="modal fade" id="companyinforequired-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Update your Company Information</h4>
      </div>
      <div class="modal-body">
      	<p>Diect to company information page and submit the particulars of your company for verification</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="@{ProfileController.company()}">Update your company's info</a>
      </div>
    </div>
  </div>
</div>